.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, #fff0f5, rgb(215, 50, 4));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, #ace5ee, rgb(236, 6, 6))
}

.anch {
    text-decoration: none;
    color: black;
}

.anch:hover {
    font-size: 20px;
}

.shadow {
    box-shadow: 45px 0 76px rgba(242, 75, 33, 0.5);
}